*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato' , sans-serif;
}
header {
  background: royalblue;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: sticky;
}

header .logo {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  display: inline-block;
  color: #ffffff;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
  text-decoration: none;
}

header nav ul li a:hover,
header nav     ul li a.active {
  border-bottom-color: rgb(0, 0, 0);
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #ffffff;
}

@media only screen and (max-width: 900px) {
  header {
      padding: 0 30px;
  }
}

@media only screen and (max-width: 700px) {
  .hamburger {
      display: block;
  }

  header nav {
      position: absolute;
      width: 100%;
      left: -100%;
      top: 70px;
      width: 100%;
      background: #000000;
      padding: 30px;
      transition: 0.3s;
  }

  header #nav_check:checked~nav {
      left: 0;
  }

  header nav ul {
      display: block;
  }

  header nav ul li a {
      margin: 5px 0;
  }
}
.contanier {
  height: 680px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contanier img {
height: 500px;
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 8px;
  color: #000000;
}

.hero-text {
  width: 100%;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.hero-text button {
  background: royalblue;
  color: white;
  border: 1px solid #cccc;
  padding: 12px 12px;
  border-radius: 19px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.9s;
}
button:hover{
  background: rgb(58, 95, 203);
  color: white;
}
@media (max-width: 848px) {
  .contanier{
      margin-top: 100px;
      flex-direction: column;
  }
  .hero-text{
      width: 100%;
      text-align: center;
  }
  .hero-text h1{
      font-size: 3rem;
  }
  .skills_list{
      margin-top: 150px;
  }
  .life_enjoy{
      display: block;
  }
}
.footer {
  background-color: #585ad1;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.footer__title {
  margin: 0;
}
.footer__icons {
  display: flex;
  gap: 13px;
}
.footer__icon-link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.footer__icon-link:last-child {
  margin-right: 0;
}

.footer__icon-link:hover {
  color: #ccc;
}
@media (max-width: 767px) {
  .footer {
    background-color: #585ad1;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 89px;
    flex-direction: column;
    gap: 12px;
}
}